body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  touch-action: pan-y; /* Allow vertical scrolling only */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling */
}

@font-face{
  font-family: "Iceberg";
  src: url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
}

@font-face{
  font-family: "Funnel Sans";
  src: url('https://fonts.googleapis.com/css2?family=Funnel+Sans&display=swap');;
}
